<footer>
	<div class="footerContainer">
		<div class="socialIcons">
			<a href=""><img src="{{ asset('images/github.svg') }}"></a>
			<a href=""><img src="{{ asset('images/linkedin.svg') }}"></a>
			<a href=""><img src="{{ asset('images/twitch.svg') }}"></a>
			<a href=""><img src="{{ asset('images/instagram.svg') }}"></a>
			<a href=""><img src="{{ asset('images/youtube.svg') }}"></a>
		</div>
		<div class="footerNav">
			<ul>
				<li>
					<a href="{{ path('home.index') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('build.public') }}">Panoplies de la communauté</a>
				</li>
				<li>
					<a href="{{ path('item.index') }}">Mes items</a>
				</li>
			</li>
			<li>
				<a href="{{ path('build.index') }}">Mes panoplies</a>
			</li>
		</ul>
	</div>
	<div class="footerBottom">
		<p>Copyright &copy;2023; Designed by
			<span class="designer">Samuel Méline</span>
		</p>
	</div>
</footer>
