<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<footer>
    <div class="footer">
      <div class="footer-links">
        <ul>
        <li><a href="{{ path('home.index') }}">Accueil</a></li>
        <li><a href="{{ path('build.index_public') }}">Panoplies de la communauté</a></li>
        <li><a href="{{ path('item.index') }}">Mes items</a></li>
        <li><a href="{{ path('build.index') }}">Mes panoplies</a></li>
        </ul>
      </div>
      <div class="footer-info">
        <p>© {{ "now"|date("Y") }} Nom de ton entreprise. Tous droits réservés.</p>
      </div>
    </div>
  </footer>