{% extends 'base.html.twig' %}

{% block meta_description %}Modifiez votre mot de passe en toute confiance avec notre interface !
{% endblock %}

{% block title %}Csp_Book - Modification de mot de passe
{% endblock %}

{% block body %}
	<main class="content">
		<div class="wrapper">
			<h1>Formulaire de modification de mot de passe des utilisateurs</h1>

			{% for message in app.flashes('warning') %}
				<div class="form-error">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_start(form) }}

			<div class="form-group inputBox">
				{{ form_label(form.plainPassword.first) }}
				{{ form_widget(form.plainPassword.first, {'attr': {'class': 'password-input', 'placeholder': 'Mot de passe'}}) }}
				<img src="/images/icons/lock.png" alt="userPassword">
				<div class="form-error">
					{{ form_errors(form.plainPassword.first) }}
				</div>
			</div>

			<div class="form-group inputBox">
				{{ form_label(form.plainPassword.second) }}
				{{ form_widget(form.plainPassword.second, {'attr': {'class': 'password-input', 'placeholder': 'Confirmation du mot de passe'}}) }}
				<img src="/images/icons/lock.png" alt="userPassword">
			</div>

			<div class="form-group inputBox">
				{{ form_label(form.newPassword) }}
				{{ form_widget(form.newPassword, {'attr': {'class': 'password-input', 'placeholder': 'Nouveau mot de passe'}}) }}
				<img src="/images/icons/lock.png" alt="userPassword">
				<div class="form-error">
					{{ form_errors(form.newPassword) }}
				</div>
			</div>

			<button type="submit" class="btn">Modifier le mot de passe</button>

			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
