{% extends 'base.html.twig' %}

{% block meta_description %}Modifiez vos informations utilisateurs grace à notre interface !
{% endblock %}

{% block title %}Csp_Book - Modification de l'utilisateur
{% endblock %}

{% block body %}
	<main class="content">
		<div class="wrapper">
			<h1>Formulaire de modification des informations des utilisateurs</h1>

			{% for message in app.flashes('warning') %}
				<div class="form-error">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_start(form) }}

			<div class="form-group inputBox">
				{{ form_label(form.fullName) }}
				{{ form_widget(form.fullName, {'attr': {'class': 'username-input', 'placeholder': 'Nouveau Nom / Prénom'}}) }}
				<img src="/images/icons/user.png" alt="userLogin">
				<div class="form-error">
					{{ form_errors(form.fullName) }}
				</div>
			</div>

			<div class="form-group inputBox">
				{{ form_label(form.pseudo) }}
				{{ form_widget(form.pseudo, {'attr': {'class': 'pseudo-input', 'placeholder': 'Nouveau pseudo'}}) }}
				<img src="/images/icons/user.png" alt="userLogin">
				<div class="form-error">
					{{ form_errors(form.pseudo) }}
				</div>
			</div>

			<div class="form-group inputBox">
				{{ form_label(form.plainPassword) }}
				{{ form_widget(form.plainPassword, {'attr': {'class': 'password-input', 'placeholder': 'Mot de passe'}}) }}
				<img src="/images/icons/lock.png" alt="userPassword">
				<div class="form-error">
					{{ form_errors(form.plainPassword) }}
				</div>
			</div>

			<button type="submit" class="btn">Modifier l'utilisateur</button>

			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
