{% extends 'base.html.twig' %}

{% block body %}
	<main class="content">
		<div class="wrapper">
			<h1 class="page-title">Modification de l'item</h1>
			{{ form_start(form) }}

			<div class="form-group editImage">
				<div>
					{% if item.image is not empty %}
						<img src="{{ asset('images/' ~ item.image) }}" alt="Item Image" class="item-image">
					{% endif %}
				</div>
				<div class="form-group inputBox">
					{{ form_widget(form.image, {'attr': {'class': 'image-input chooseImage', 'placeholder': 'Image'}}) }}
					<div class="form-error">
						{{ form_errors(form.image) }}
					</div>
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'name-input'}}) }}
				<div class="form-error">
					{{ form_errors(form.name) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.price) }}
				{{ form_widget(form.price, {'attr': {'class': 'price-input'}}) }}
				<div class="form-error">
					{{ form_errors(form.price) }}
				</div>
			</div>

			<button type="submit" class="btn">Modifier mon item</button>


			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
